*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
color: rebeccapurple;
}
body {
    width:100vw ;
    height: 100vh;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000aa;
    background-blend-mode: darken;
    display: flex; 
    justify-content: center;
    align-items: center;
}
p{ 
    background-color: royalblue;
    
}
.verde{
  background-color: 
}
h2 {
    background-color: tomato;
} main{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
} 
h1{
    color: white;
  font-size: 100px;
}