*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
color:black;
}
body {
    width:100vw ;
    height: 100vh;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000aa;
    background-blend-mode: darken;
    display: flex; 
    justify-content: center;
    align-items: center;
}
p{ 
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;

    
}
.verde{
  background-color: 
}
h2 {
    background-color: tomato;
} main{
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
} 
h1{ 
    color: white;
  font-size: clamp(40px,10vw,120px);
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  font-weight: 40px;
} .apresentação
{
    color: rgb(255, 255, 255);
    font-size: clamp(20px,5vw,60px);
    font-family:'Montserrat', sans-serif;;
    font-weight: 400;
    font-style: italic;

} .informação{

    font-size: 20px;
    width: 150px;
    height: 40px;
    background-color: yellow;
    border-style: none;
    border-radius: 10px;
}
    
